.movie-container{
    display:flex
}
.movie-container div{
    flex:1
}
section{
    margin-top: 100px;
}
button {
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
h5{
    text-align:center;
    font-size:14px
}
